{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Listen for XDebug",
            "type": "php",
            "request": "launch",
            "hostname": "arecore2-app",
            "port": 9003,
            "pathMappings": {
                "/opt/arecore2/web": "${workspaceFolder}/source"
            }
        }
    ]
}
